<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifier une Classe</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body>
<h1>Modifier la Classe</h1>

<form th:action="@{/classes/update/{id}(id=${classe.id})}" th:object="${classe}" method="post">
  <label>Nom de la classe:</label>
  <input type="text" th:field="*{className}" required />

  <label>Description:</label>
  <textarea th:field="*{description}" required></textarea>

  <label>Secteur:</label>
  <select th:field="*{sector.id}" required>
    <option th:each="secteur : ${sectors}"
            th:value="${secteur.id}"
            th:text="${secteur.name}"
            th:selected="${secteur.id == classe.sector?.id}">
    </option>
  </select>

  <button type="submit">Mettre à jour</button>
</form>

<a href="/classes">⬅️ Retour</a>
</body>
</html>
